/* App */

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3.5%;
  gap: 20px;
  font-family: 'Poppins', sans-serif;
}

.Imgs {
  width: 720px;       
  height: 720px;
  border-radius: 50%;
  background: radial-gradient(circle at center, var(--primary-color), var(--secondary-color));
  display: flex;
  justify-content: center;
  align-items: center;
}

.Img {
  width: 700px;       
  height: 700px;
  border-radius: 50%;
  background-color: var(--primary-color); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter{
  height: 70px;
  width: 140px;
  background-color: var(--secondary-color);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.countBack{
  height: 60px;
  width: 130px;
  background-color: var(--primary-color);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.count{
  color: var(--text-color);
  font-size: var(--font-size-md);
  font-weight: 600;
}

/* topBar */

.topBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;      /* optional, if you want a bar across the top */
  display: flex;     /* if you want to align children */
  justify-content: flex-end;
  padding: 10px;    /* spacing inside the bar */
  z-index: 100;     /* keep it above other content */
}

.menu {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: var(--font-size-lg);
  font-weight: 600;
}

/* Status */

.status{
  margin-top: 25%;
  height: 100%;
  width: 50%;
  background-color: var(--secondary-color);
  border-radius: 25px;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1{
  color: var(--secondary-text-color);
  font-size: var(--font-size-lg);
  font-weight:600;
}

.statusInfo{
  color: var(--secondary-text-color);
  font-size: var(--font-size-s);
  font-weight: 600;
  text-align: center;
  font-size: var(--font-size-xs);
}

/* footer */

.license{
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: var(--font-size-xs);
  font-weight: 600;
}